body {
    margin: 0;
}

nav {
    background-color: #005F40;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

nav a {
    
    float: left;
    display: block;
    color: white;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 0px 15px;
    text-decoration: none;
}

nav img {
    max-height: 80px;
}

nav .left {
    display: flex;
    align-items: center;
}
.nav .right {
    display: flex;
    align-items: center;
}

#home {
    position: relative; 
    min-height: 90vh;
    background-image: url("images/backgroundHome.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 95, 64, 0.5); 
}


.centered-text {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
}

.centered-text h1 {
    font-size: 52px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal; 
    margin-top: 20px; 
}

.centered-text h2 {
    font-size: 36px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal; 
    margin-top: 20px; 
}

.white-button {
    text-align: center;
    position: relative;
    top: 50px;
}

.button {
    display: inline-block;
    background-color: white;
    color: #005F40;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #f0f0f0;
}

/*aAbout the product*/
#about-product {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    margin-top: 80px;
    text-align: center;
    margin-bottom: 60px;
}

#about-product h2 {
    font-size: 36px;
    color: #000000;
    font-weight: 500;
    margin-bottom: 25px;
}

#about-product .largeText {
    color: #000000;
    font-size: 24px;
    font-weight: 400;
    margin: 40px;
    padding: 0px 20px;
}

#about-product h3 {
    color: #000000;
    font-size: 24px;
    font-weight: 500;
    margin-top: 100px;
    padding: 0px 20px;
}

.image-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    width: auto;
}

.image-item {
    margin: 30px 30px;
    text-align: center;
    background-color: #337D50;
    border-radius: 20px;
}

.image-item img {
    width: 350px;
    height: 300px;
}

.image-item p {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-style: bold;
    color: #ffffff;
}


/* Placeholder section for video about the product */


#about-product-video {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    margin-top: 80px;
    text-align: center;
    margin-bottom: 60px;
}

#about-product-video h2 {
    font-size: 36px;
    color: #000000;
    font-weight: 500;
    margin-bottom: 25px;
}

#about-product-video h3 {
    color: #000000;
    font-size: 24px;
    font-weight: 500;
    margin-top: 100px;
    padding: 0px 20px;
}

/* Placeholder section for video about the team */
#about-team-video {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    margin-top: 80px;
    text-align: center;
    margin-bottom: 60px;
}

#about-team-video h2 {
    font-size: 36px;
    color: #000000;
    font-weight: 500;
    margin-bottom: 25px;
}

#about-team-video h3 {
    color: #000000;
    font-size: 24px;
    font-weight: 500;
    margin-top: 100px;
    padding: 0px 20px;
}

/*Subscriptions section*/
#subscriptions {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 60px;
    background-color: #005F40;
}

.dual-font-size {
    color: #FFFFFF;
    text-align: center;
    position: relative;
    font-weight: 500;
    font-size: 52px;
}


.dual-font-size .smallText{
    font-size: 24px;
}

#subscriptions h2{
    font-size: 36px;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 25px;
}

#subscriptions h3{
    color:#ffffff;
    font-size: 24px;
    font-weight: 500;
    margin-top: 0px;
}

#subscriptions .subNum h2{
    color:#FFFFFF;
    font-size: 36px;
    font-weight: 500;
    margin-top: 0px;

}
#subscriptions .subNum h4{
    font-size: 18px;
    font-weight: 500;
    margin-top: 0px;

}


#subscriptions  .ourSubs{
display: flex;
width: auto;
justify-content: center;
flex-wrap: wrap;
}

.ourSubs .subNum{
    width: 250px;
    margin: 50px;
    border-radius: 20px;
    padding: 20px 10px;
    color: #FFFFFF;
}

.lucide--circle-check-big {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M22 11.08V12a10 10 0 1 1-5.93-9.14'/%3E%3Cpath d='m9 11l3 3L22 4'/%3E%3C/g%3E%3C/svg%3E");
    background-color: white;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    margin-bottom: -7px;
    margin-right: 10px;
}


#subscriptions .subNum:nth-child(1) h1,
#subscriptions .subNum:nth-child(1) h2,
#subscriptions .subNum:nth-child(1) h4{
    color: #005F40;
}

.subNum:nth-child(1) .lucide--circle-check-big  {
    background-color: #005F40;
}

.subNum:nth-child(1)  {
    background-color: #FFFFFF;
}

.subNum:nth-child(2) {
    background-color: #9D7C58;
}


.subNum:nth-child(3) {
    background-color: #9A5D4E;
}
.register-btn {
    background-color: #005F40; 
    border: none; 
    border-radius: 50px; 
    padding: 10px 20px; 
    font-size: 18px; 
    font-weight: 700;
    color: #FFFFFF; 
    cursor: pointer; 
}

.register-btn:hover {
    background-color: #005F40; 
}


/*Reviews Section*/
.testimonial-container {
    width: 60%;
    margin: 50px auto;
    position: relative;
    text-align: center;
}
.testimonial-container h2 {
    font-size: 36px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    width: 60%;
    margin: 50px auto;
    position: relative;
    text-align: center;
} 
.testimonial-slide {
    display: none;
}
.testimonial-slide.active {
    display: block;
}
.testimonial-image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
.testimonial-name { 
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top: 10px;   
}
.testimonial-text {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 10px;
}
.testimonial-arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.testimonial-arrows.left {
    left: 10px;
}
.testimonial-arrows.right {
    right: 10px;
}

/*Contact us section*/

#contact-us {
    background: linear-gradient(to bottom, white 20%, #005F40 20%, #005F40 80%, white 80%);
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    display: flex; 
    justify-content: center; 
    align-items: center;

}


#contact-us h2{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 36px;
    font-weight: 500;
}
#contact-us p{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 25px;
}


.contact-container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
}


.info {
    color: white;
    padding: 20px;
    position: relative;
    right: 10%; 
}

.form {
    background-color: #9A5D4E;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    height: 600px; 
    padding: 20px;
    display: flex; 
    position: relative;
    flex-direction: column;
    left: 10%; 
}

.form h2{
    color: white;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 25px;
}

.form input[type="text"],
.form input[type="email"] {
    font-size: 18px;
    font-weight: 500;
}
.form textarea {
    font-size: 18px;
    font-weight: 500;
    height: 80%; 
}


input, textarea {
   width: calc(100% - 40px);
   margin-bottom: 20px;
   padding:10px; 
}

.form button {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    display: block;
    margin: 0 auto;
    border: none; 
    background-color: white; 
    font-size: 24px; 
    color: #005F40; 
    border-radius: 10%; 
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
}





/*About us section*/
#about-us {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 60px;
}


#about-us h2{
    font-size: 36px;
    color: #000000;
    font-weight: 500;
    margin-bottom: 25px;
}

#about-us h3{
    color:#FFFFFF;
    font-size: 24px;
    font-weight: 500;
    margin-top: 0px;
}

#about-us p{
    color:#FFFFFF;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 25px;
}



#about-us  .our_team{
display: flex;
width: auto;
justify-content: center;
flex-wrap: wrap;
}

 .our_team .team_member{
    width: 250px;
    margin:20px;
    border-radius: 20px;
    padding: 20px 10px;
}


.team_member:nth-child(even) {
    background-color: #9A5D4E;
}
.team_member:nth-child(odd) {
    background-color: #337D50;
}



/*Footer section*/
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 0; 
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

#footerOne{
    background-color: #005F40;
}

#footerOne .normal{
    padding: 30px;
}

 .social-icons {
    margin-left: auto; 
    font-size: 32px;
    padding: 10px;
    color: white;
}
